RewriteEngine On
RewriteBase /my-orders-vault/public/

# הפניה לקבצים
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>

RedirectMatch 403 ^/config/.*$
RedirectMatch 403 ^/app/.*$
RedirectMatch 403 ^/storage/.*$
RedirectMatch 403 ^/vendor/.*$